<div class="container-fluid">
  <div class="card shadow mb-4">
    <div class="card-body">
      <h1>Alojamiento <%= @lodging.id %></h1>
      <p>
        <strong>Direccion:</strong>
        <%= @lodging.address %>
      </p>
      <p>
        <strong>Localidad:</strong>
        <%= @lodging.city %>
      </p>
      <p>
        <strong>Provincia:</strong>
        <%= @lodging.province %>
      </p>
      <p>
        <strong>Tipo:</strong>
        <%= @lodging.lodging_type %>
      </p>
      <p>
        <strong>Categoria:</strong>
        <%= @lodging.category %>
      </p>
    </div>
  </div>
</div>